HostKey /__ROOT_DIR__/etc/ssh/ssh_host_rsa_key
HostKey /__ROOT_DIR__/etc/ssh/ssh_host_ed25519_key
PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
PidFile none
Subsystem sftp /__ROOT_DIR__/libexec/sftp-server
